/*main para el mate 320px*/
.fotoMate{
    @include foto320;
}
/*hover fotoMate*/
.fotoMate:hover{
    transform: translate(0, -1rem);
    width: 13rem;
    height: 13rem;
}
/* sigo main para mate*/
.contenedorMate{
    @include contenedor320;
    }
.cartaMate{
    @include carta320;
    p{
    @include parrafo320;
    }
    h2{
        @include titulos320
    }
}    
@media screen and(min-width: 768px) {
    .cartaMate{
    flex-direction: row-reverse;
    width: 30rem;
    padding: 0.5rem;
    justify-content: flex-end;
    }
}
@media screen and(min-width: 1024px) {
    .cartaMate{
        width: 29rem;
    }
}