/*empiezo main productos*/ 
.flexMainproductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
.tituloProductos{
    @include titulos320;
    text-transform: uppercase;
 }
.tortasTartas{
    @include contenedor320;
}
.contenedorProductos{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 1.5rem;
    padding: 0.5rem;
    border: 2px solid $color-enlace;
    background-color: $color-navFooter;
    width: 18rem;
} 
.foto{
    @include foto320;
}
.parrafoProductos{
    p{
    @include parrafo320;
    }
    h2{
        @include titulos320
    }
}
/*hover fotosProductos*/
.fotoProductos{ 
    .foto:hover{
        transform: translate(0, -2rem);
        width: 12rem;
        height: 12rem;
    }
}
@media screen and (min-width: 768px){ 
    .tortasTartas{ 
        .contenedorProductos{
            justify-content: flex-end;
            flex-direction: row-reverse;
            align-items: flex-start;
            width: 35rem;
        } 
    }
}
@media screen and (min-width: 1024px){
    .tortasTartas{ 
        .contenedorProductos{
            width: 29rem;
        }
    }
}
@media screen and (min-width: 1440px){
    .tortasTartas{ 
        .contenedorProductos{
            width: 40rem;
        }
    }
}
}